@use "../../utils" as *;

/*----------------------------------------*/
/*  4.2 Mobilemenu css
/*----------------------------------------*/

.tp-offcanvas-menu ul {
  list-style: none;
  & li {
    position: relative;

    & > a {
      padding: 8px 0;
      display: block;
      font-size: 14px;
      font-weight: 500;
      color: var(--tp-common-white);
      border-bottom: none;
      &:hover {
        color: var(--tp-theme-primary);
      }
    }

    border-bottom: 1px solid var(--tp-common-white);
    &.active {
      & > a {
        color: var(--tp-theme-primary);
      }
      & > .tp-menu-close {
        color: var(--tp-theme-primary);
        & i {
          @include transform(rotate(90deg));
        }
      }
    }
    & .sub-menu {
      display: none;
      padding-left: 20px;
    }
  }
}
.tp-menu-close {
  position: absolute;
  right: 0;
  top: 7.5px;
  height: 30px;
  width: 30px;
  text-align: center;
  font-size: 14px;
  line-height: 29px;
  color: var(--tp-common-white);
  border: none;
  background: transparent;
  padding: 0;
  & i {
    @include transition(0.3s);
  }
}
